body {
    font-family: "Open Sans", sans-serif;
    background-color: #FAF7F3;
    overflow-x: hidden;
}

header {
    padding-top: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
    color: #444cf7;
}

#definicion {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 10px 20px;
    background-color: #ffffff;
    
}

.inicio {
    background-color: #e5e5f7;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    width: 100%;
    max-width: 1100px;
    margin: 20px auto 60px auto;
    
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    box-sizing: border-box;
    flex: 1 1 auto;

}

.definicion_titulo {
    font-size: 2rem;
    color: #2b6cb0;
    margin-bottom: 20px;
    border-bottom: 2px solid #7f7f81;
    padding-bottom: 10px;
    text-align: center;

}

.parrafo_definicion {
    font-size: 1rem;
    line-height: 1.7;
    text-align: justify;
    margin-bottom: 30px;
    padding: 0 20px;
}

#definicion_img {
    text-align: center;
    margin-top: 20px;

}

#definicion_img img {
    width: 100%;
    max-width: 900px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
}

#definicion_img figcaption {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #333;
    padding: 0 10px;
}


#caracteristicas {
    display: flex;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    justify-content: left;
}

#contenido_grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: 0 ;
    gap: 2rem;
    padding: 20px;
}

.contenido {
    background: linear-gradient(to bottom right, #b4eed6, #e5edff);
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 1rem;
    margin-left: 45px;
}

.contenido:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
}


#caracteristicas h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #2b6cb0;
    padding-bottom: 5px;
    text-align: left;
    justify-content: center;
}

.contenido>h3 {
    font-size: 1.3rem;
    color: #1a365d;
    margin-bottom: 12px;

}

.contenido>ul {
    list-style: disc inside;
    padding-left: 0;
    margin-bottom: 12px;

}

.contenido li {
    margin-bottom: 6px;
    line-height: 1.5;
}


.contenido>p {
    text-align: justify;
    margin-bottom: 10px;

}

pre,
code {
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
}

.dato{
    margin-bottom: 100px;
}

#utilidad {
    width: 100%;
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    background-color: #f5f7fa;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    font-family: 'Segoe UI', sans-serif;
    color: #333;
    line-height: 1.6;

}

#utilidad>h2 {
    color: #2b6cb0;
    font-size: 1.8rem;
    margin-bottom: 15px;
    border-bottom: 2px solid #cbd5e0;
    padding-bottom: 8px;

}

#utilidad>p {
    font-size: 1rem;
    margin-bottom: 12px;
}

#utlidad>ul {
    padding-left: 20px;

}

#utilidad>ul li {
    margin-bottom: 8px;
    list-style-type: circle;
    list-style: disc inside;
}

#referencias {
    max-width: 800px;
    margin: 40px auto 60px auto;
    padding: 30px 20px;
    background-color: #f9fafb;
    border-left: 60px solid #2b6cb0;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

#referencias>ul{
    list-style: disc inside;
    padding-left: 0;
    margin-bottom: 12px;
}

.boton{
    margin-top: 10px;
    cursor: pointer;
}